* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div.div-resulte{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutton-rejouer{
    height: 250px;
    width : 250px;
    background :gold;
    font-size: 32px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
#interface {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.line{
    height: 100%;
    width:33.4%;
    color: #0080004f;
}
#score{
    height: 5%;
    background-color: gold;
    padding: 1.5% 0 1.5% 0%;
    justify-content: center;
    align-items: center ;
}

#p{
    
    background: url("image/pierre.png");
    background-size: 50%;
    background-color: lightcyan;
}

#f{
    background: url("image/feuille.jpg");
    background-size: 50%;
    background-color: lightyellow;
}
#c{
    background: url("image/ciseaux.jpg");
    background-size: 50%;
    background-color: lightcoral;
}